h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Lato', sans-serif;
  color: #180F1C; }

body {
  background: white;
  font: 1.8em 'Lato', serif;
  overflow-x: hidden; }

a {
  color: #288CBA; }
  a:hover {
    text-decoration: none;
    color: #850028; }

.top-bottom-pad {
  padding-top: 50px;
  padding-bottom: 50px; }

/* HEADER / NAVBAR */
.navbar {
  background-image: url("../img/header-bg.png");
  box-shadow: 0px 0px 1px #180F1C;
  height: auto; }
  .navbar-default {
    background-color: transparent; }
  .navbar-brand {
    position: relative;
    top: -7px; }
  .navbar li:hover a span {
    color: #115537; }
  .navbar span {
    color: #180F1C;
    text-transform: uppercase;
    font-size: .85em;
    text-shadow: 0px 0px 1px white;
    text-shadow: 1px 1px 1px white;
    text-shadow: 0px 0px 2px white; }
  .navbar .active a span {
    color: #115537; }
  .navbar span.more {
    text-transform: none;
    font-size: .8em; }
  .navbar li {
    text-align: center; }
    .navbar li:not(:last-child) {
      margin-right: 20px; }
    .navbar li .home {
      position: relative;
      top: 10px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #115537; }

.wrapper {
  position: relative;
  top: 75px; }

/* CAROUSEL */
#carousel {
  border-bottom: 1px solid #efefef; }

.right.carousel-control, .left.carousel-control {
  display: none; }

.carousel-inner .item {
  background-size: cover !important; }
  .carousel-inner .item:nth-of-type(1) {
    background: url(../img/carousel.jpg) no-repeat 50% 20%; }
  .carousel-inner .item:nth-of-type(2) {
    background: url(../img/carousel2.jpg) no-repeat center; }
  .carousel-inner .item:nth-of-type(3) {
    background: url(../img/carousel3.jpg) no-repeat center; }

#carousel-text {
  z-index: 2;
  position: absolute;
  background: url("../img/trans-bg.png");
  height: 100%;
  display: inline-block;
  left: 75px;
  width: 30%;
  box-shadow: -15px -5px 30px -10px #180F1C, 15px -5px 30px -10px #180F1C; }
  #carousel-text #hanger {
    margin-top: 70px; }
  #carousel-text h2 {
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: -12px; }
  #carousel-text h3 {
    font-size: 1.8em; }
  #carousel-text p {
    padding: 30px 70px; }

/* QUICK SERVICES BAR */
.home-services {
  padding: 30px 15px;
  max-width: 1200px; }
  .home-services hr {
    width: 80px;
    border: 2px solid #850028;
    margin: 30px auto; }
  .home-services h2 {
    font-weight: normal; }

.home-service img {
  background-color: #850028;
  width: 80px;
  height: auto; }
  .home-service img:hover {
    background-color: #115537; }

#choose-us-bg {
  padding: 70px 5%;
  background: url(../img/chooseus.jpg) no-repeat center center;
  background-size: cover; }
  #choose-us-bg #choose-us {
    padding: 20px;
    background: url(../img/trans-bg.png); }
    #choose-us-bg #choose-us h1 {
      opacity: 1; }

#delivery-text {
  color: #efefef;
  font-size: 2.5em;
  margin: auto;
  display: table;
  position: relative;
  padding: 50px;
  top: 150px; }

#delivery {
  background: url(../img/services-delivery.jpg) no-repeat bottom center;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin-bottom: 75px; }

.f-right {
  margin: 0 auto; }

#welcome-img {
  margin: 0 auto; }

#equipment {
  background: url(http://placekitten.com/2000/500) no-repeat bottom center;
  width: 100%;
  height: 500px; }

footer {
  margin-top: 25px;
  margin-right: 25px;
  padding: 20px;
  color: #efefef;
  background-color: #180F1C;
  border-top: 2px solid #850028; }

@media all and (min-width: 768px) {
  .carousel-inner .item {
    height: 600px;
    width: 100%; }

  button {
    padding: 10px;
    text-align: center;
    position: relative;
    left: 30%;
    border-radius: 10px;
    border: 1px solid #180F1C;
    background: none;
    font-size: 1.3em; }

  #we-deliver {
    width: auto;
    padding: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -45px;
    z-index: 2; }

  .home-dlwh {
    padding: 5px;
    height: 300px; }
    .home-dlwh h1 {
      top: 33%;
      font-size: 3em;
      line-height: 1em; }

  #choose-us-bg {
    padding: 70px 20%; } }
@media all and (min-width: 992px) {
  .home-dlwh h1 {
    top: 25%; }

  .f-right {
    float: right; } }
@media all and (min-width: 1200px) {
  .home-dlwh h1 {
    top: 30%; } }

/*# sourceMappingURL=styles.css.map */
