$green: #115537;
$maroon: #530019;
$light-maroon: #850028;
$off-white: #efefef;
$blue: #288CBA;
$mauve: #5E4955;
$gold: #E5D347;
$black-purple: #180F1C;

@mixin centered($left, $top) {
  left: $left;
  top: $top;
  transform: translate(-$left, -$top);
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Merriweather', sans-serif;
  color: $black-purple;
}

body {
  background: $off-white;
  font: 1.8em 'Lato', serif;
  overflow-x: hidden;
}

a {
  color: $blue;

  &:hover {
    text-decoration: none;
    color: $light-maroon;
  }
}

#carousel {
  border-bottom: 1px solid $off-white;
}

.logo {
  height: 30px;
  width: auto;
}

.navbar-default {
  background-color: transparent;
}

.navbar {
  background-image: url('../img/header-bg.png');
  border-bottom: 1px solid $maroon;
  height: 87px;

  a:not(.navbar-brand) {
    height: 86px;
  }

  li:hover a span {
    color: $green!important;
  }

  span {
    position: relative;
    top: 5px;
    color: $black-purple;
    text-transform: uppercase;
    font-size: .85em;
    text-shadow: 0px 0px 1px white;
    text-shadow: 1px 1px 1px white;
    text-shadow: 0px 0px 2px white;
  }

  .active a span {
    color: $green;
  }

  span.more {
    text-transform: none;
    font-size: .8em;
    top: 0px;
  }

  li {
    text-align: center;

    &:not(:last-child) {
      margin-right: 5px;
    }

    .home {
      position: relative;
      top: 15px;
    }
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: $green;
  // background-color: rgba(200,200,200, .6);
  // border-left: 1px solid $black-purple;
  // border-right: 1px solid $black-purple;
}

header {
  margin-bottom: 45px;
}

.top-bottom-pad {
  padding-top: 50px;
  padding-bottom: 50px;
  //padding & not margin because it can be the first div
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.carousel-inner .item {
  height: 275px;
  background-size: cover;

  &:nth-of-type(1) {
    background: url(../img/car1-1.jpg)  no-repeat center center;
  }
  &:nth-of-type(2) {
    background: url(../img/car2.jpg)  no-repeat center center;
  }
  &:nth-of-type(3) {
    background: url(../img/car3-1.jpg)  no-repeat center center;
  }
}

#carousel-text {
  z-index: 2;
  position: absolute;
  @include centered(50%, 15%);
}

#home-top-wrapper {
  position: relative;
  top: 42px;
}

#we-deliver {
  border-radius: 4px;
  width: 100%;
  padding: 0 18px 5px;
  background-color: $off-white;

  a {
    font-size: 2em;
  }
}

.home-dlwh {
  height: 200px;
  background-size: 120%!important;
  border: 1px solid $off-white;
  box-sizing: border-box;

  h1 {
    color: $off-white;
    text-shadow: 1px 1px 2px black;
    position: relative;
    top: 25%;
    transform: rotate(-25deg);
    font-size: 2em;
  }
}

@mixin divbg($url, $r, $g, $b, $a) {
  box-shadow: inset 0 0 0 1000px rgba($r,$g,$b,$a);
  background: url($url) no-repeat center 5%;
}


a {
  &:nth-child(1) .home-dlwh {
    //green: @include divbg('../img/dc.jpg', 17, 85, 55, .5);
    @include divbg('../img/dc.jpg', 17, 85, 55, .4);

  }

  &:nth-child(2) .home-dlwh {
    //yellow: @include divbg('../img/laundry.jpg', 299, 211, 71, .4);
    //black-purple@include divbg('../img/laundry.jpg', 24, 15, 28, .6);
    @include divbg('../img/laundry.jpg', 17, 85, 55, .4);
  }

  &:nth-child(3) .home-dlwh {
    @include divbg('../img/wedding.jpg', 17, 85, 55, .4);
  }

  &:nth-child(4) .home-dlwh {
    //maroon: @include divbg('../img/household.jpg', 83, 0, 25, .5);
    @include divbg('../img/household.jpg', 17, 85, 55, .5);
  }
}

#choose-us-bg {
  padding: 70px 5%;
  background: url(../img/chooseus.jpg) no-repeat center center;
  background-size: cover;

  #choose-us {
    padding: 20px;
    background: url(../img/trans-bg.png);

    h1 {
      opacity: 1;
    }
  }
}

#delivery-text {
  color: $off-white;
  font-size: 2.5em;
  margin: auto;
  display: table;
  position: relative;
  padding: 50px;
  top: 150px;
}

#delivery {
  background: url(../img/services-delivery.jpg) no-repeat bottom center;

  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin-bottom: 75px;
}

.f-right {
  margin: 0 auto;
}

#welcome-img {
  margin: 0 auto;
}

#equipment {
  background: url(http://placekitten.com/2000/500) no-repeat bottom center;
  width: 100%;
  height: 500px;
}


footer {
  margin-top: 25px;
  margin-right: 25px;
  padding: 20px;
  color: $off-white;
  background-color: $black-purple;
  border-top: 2px solid $light-maroon;
}

@media all and (min-width: 768px) {
  .carousel-inner .item {
    height: 525px;
    width: 100%;
  }

  .logo {
    height: 50px;
    width: auto;
  }

  button {
    padding: 10px;
    text-align: center;
    position: relative;
    left: 30%;
    border-radius: 10px;
    border: 1px solid $black-purple;
    background: none;
    font-size: 1.3em;
  }

  #we-deliver {
    width: auto;
    padding:15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -45px;
    z-index: 2;
  }

  .home-dlwh {
    padding: 5px;
    height: 300px;

    h1 {
      top: 33%;
      font-size: 3em;
      line-height: 1em;
    }
  }

  #choose-us-bg {
    padding: 70px 20%;
  }
}

@media all and (min-width: 992px) {
  .home-dlwh {
    h1 {
      top: 25%;
    }
  }
  .f-right {
    float: right;
  }
}

@media all and (min-width: 1200px) {
  .home-dlwh {
    h1 {
      top: 30%;
    }
  }
}
