$green: #115537;
$maroon: #530019;
$light-maroon: #850028;
$off-white: #efefef;
$blue: #288CBA;
$mauve: #5E4955;
$gold: #E5D347;
$black-purple: #180F1C;

@mixin centered($left, $top) {
  left: $left;
  top: $top;
  transform: translate(-$left, -$top);
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Lato', sans-serif;
  color: $black-purple;
}

body {
  background: white;
  font: 1.8em 'Lato', serif;
  overflow-x: hidden;
}

a {
  color: $blue;

  &:hover {
    text-decoration: none;
    color: $light-maroon;
  }
}

.top-bottom-pad {
  padding-top: 50px;
  padding-bottom: 50px;
  //padding & not margin because it can be the first div
}

/* HEADER / NAVBAR */
.navbar {
  background-image: url('../img/header-bg.png');
  box-shadow: 0px 0px 1px $black-purple;
  height: auto;

  &-default {
    background-color: transparent;
  }

  &-brand {
    position: relative;
    top: -7px;
  }

  li:hover a span {
    color: $green;
  }

  span {
    color: $black-purple;
    text-transform: uppercase;
    font-size: .85em;
    text-shadow: 0px 0px 1px white;
    text-shadow: 1px 1px 1px white;
    text-shadow: 0px 0px 2px white;
  }

  .active a span {
    color: $green;
  }

  span.more {
    text-transform: none;
    font-size: .8em;
  }

  li {
    text-align: center;

    &:not(:last-child) {
      margin-right: 20px;
    }

    .home {
      position: relative;
      top: 10px;
    }
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: $green;
  //background-color: rgba(200,200,200, .15);
}

.wrapper {
  position: relative;
  top: 75px;
}

/* CAROUSEL */
#carousel {
  border-bottom: 1px solid $off-white;
}
.carousel-indicators {
  //top: 580px;
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-inner .item {
  background-size: cover!important;

  &:nth-of-type(1) {
    background: url(../img/carousel.jpg) no-repeat 50% 20%;
  }
  &:nth-of-type(2) {
    background: url(../img/carousel2.jpg) no-repeat center;
  }
  &:nth-of-type(3) {
    background: url(../img/carousel3.jpg) no-repeat center;
  }
}

#carousel-text {
  z-index: 2;
  position: absolute;
  background: url('../img/trans-bg.png');
  height: 100%;
  display: inline-block;
  left: 75px;
  width: 30%;
  box-shadow: -15px -5px 30px -10px $black-purple, 15px -5px 30px -10px $black-purple;

  #hanger {
    margin-top: 50px;
  }

  hr {
    width: 80px;
    border: 2px solid $green;
    margin: 25px auto;
  }

  h2 {
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: -12px;
  }

  h3 {
    font-size: 1.8em;
  }

  p {
    padding: 0 70px;
  }

  button {
    margin-top: 25px;
    font-size: 1.1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: $green;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid white;

    &:hover {
      background-color: darken($green, 6%);
    }
  }
}

/* QUICK SERVICES BAR */

.home-services {
  padding: 30px 50px 40px;

  hr {
    width: 80px;
    border: 2px solid $light-maroon;
    margin: 30px auto;
  }

  h2 {
    font-size: 1.5em;
    font-weight: normal;
  }
}

.home-service img {
  width: 65px;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &-1 {
    background-image: url(../img/chooseus.jpg);
  }
}

#choose-us-bg {
  padding: 150px!important;
  color: white;

  h1, h2 {
    color: white;
    text-align: right;
    text-transform: uppercase;
  }

  h1 {
    margin-right: 40px;
    font-size: 4.2em;
    letter-spacing: 10px;
    font-weight: 900;
  }

  h2 {
    margin-top: 0px;
    margin-right: 50px;
    font-size: 2.3em;
  }

  p {
    margin-left: 50px;
  }
}

#delivery-text {
  color: $off-white;
  font-size: 2.5em;
  margin: auto;
  display: table;
  position: relative;
  padding: 50px;
  top: 150px;
}

#delivery {
  background: url(../img/services-delivery.jpg) no-repeat bottom center;

  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin-bottom: 75px;
}

.f-right {
  margin: 0 auto;
}

#welcome-img {
  margin: 0 auto;
}

#equipment {
  background: url(http://placekitten.com/2000/500) no-repeat bottom center;
  width: 100%;
  height: 500px;
}


footer {
  margin-top: 80px;
  margin-right: 25px;
  padding: 20px;
  color: $black-purple;
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  background: $off-white;
}

@media all and (min-width: 768px) {
  .carousel-inner .item {
    height: 600px;
    width: 100%;
  }

  // button {
  //   padding: 10px;
  //   text-align: center;
  //   position: relative;
  //   left: 30%;
  //   border-radius: 10px;
  //   border: 1px solid $black-purple;
  //   background: none;
  //   font-size: 1.3em;
  // }

  #we-deliver {
    width: auto;
    padding:15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -45px;
    z-index: 2;
  }

  .home-dlwh {
    padding: 5px;
    height: 300px;

    h1 {
      top: 33%;
      font-size: 3em;
      line-height: 1em;
    }
  }

  #choose-us-bg {
    padding: 70px 20%;
  }
}

@media all and (min-width: 992px) {
  .home-dlwh {
    h1 {
      top: 25%;
    }
  }
  .f-right {
    float: right;
  }
}

@media all and (min-width: 1200px) {
  .home-dlwh {
    h1 {
      top: 30%;
    }
  }
}
